<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- fixed this line -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">   
    <title>Library Detail</title>

</head>
<body>
    <h1>Library: {{ library.name }}</h1>
    <p>Location: {{ library.location }}</p>
    <p>Librarian: {{ library.librarian.name }}</p>
    <h2>Books in this Library:</h2>
    {% if books %}
        <ul>
            {% for book in books %}
                <li>{{ book.title }} by {{ book.author.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books are currently available in this library. Please check back later!</p>
    {% endif %}
</body>
</html>